@import '~react-big-calendar/lib/sass/styles.scss';
@import '~react-big-calendar/lib/addons/dragAndDrop/styles.scss';

.Events {
  .content {
    height: 100vh;
    position: relative;

    .text-box {
      height: 13vh;
    }

    .calendar-box {
      height: calc(85vh);
      width: 100%;
      position: absolute;
      bottom: 2vh;
    }
  }
}

.modal-content {
  .close {
    border: none;
    background-color: transparent;

    span {
      content: url("../images/close.png");
      width: 20px;
    }
  }
}
