* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Youtube";
    src: url("../src/font/Youtube/youtube-sans-light.ttf") format('truetype');
}

body {
    font-family: 'Youtube', sans-serif !important;
}


